:root {
  --size-sm: clamp(1rem, 0.925rem + 0.25vw, 1.125rem);
  --size-md: clamp(1.25rem, 1.1rem + 0.5vw, 1.5rem);
  --size-lg: clamp(1.5rem, 1.2rem + 1vw, 2rem);
  --size-xl: clamp(2rem, 1.4rem + 2vw, 3rem);
  --size-xxl: clamp(2.5rem, 0.925rem + 5.25vw, 5.125rem);
  --space-sm: 1.25rem;
  --space-md: 1.5rem;
  --space-lg: 3rem;
  --space-sm-md: clamp(1.25rem, 1.1rem + 0.5vw, 1.5rem);
  --space-md-lg: clamp(1.5rem, 0.6rem + 3vw, 3rem);
  --space-lg-xl: clamp(3rem, 1.8rem + 4vw, 5rem);
  --site-gutter: clamp(16px, -76.4px + 19.25vw, 170px);
  --site-offset: 0px;
}

a {
  color: blue;
}

body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: mintcream;
  font-size: clamp(1.125rem, 1.05rem + 0.25vw, 1.25rem);
  line-height: 1.5;
  margin-left: var(--site-gutter);
  margin-right: var(--site-gutter);
  color: black;
}

.main-headings {
  font-size: clamp(2.5rem, 0.925rem + 5.25vw, 5.125rem);
  font-size: var(--size-xxl);
  letter-spacing: -0.02em;
  margin-bottom: 0.6em;
}

.sub-headings {
  font-size: clamp(1.5rem, 1.2rem + 1vw, 2rem);
  font-size: var(--size-lg);
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.02em;
  background-color: #eceff1;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0.5rem;
  border: 1px solid black;
}

.des-headings {
  font-size: clamp(1.5rem, 1.2rem + 1vw, 2rem);
  font-size: var(--size-lg);
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.02em;
}

/* Table */

.table_component {
  overflow: auto;
  width: 100%;
}

.table_component table {
  border: 1px solid black;

  height: 100%;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 1px;
  text-align: left;
}

.table_component caption {
  caption-side: bottom;
  text-align: left;
}

.table_component th {
  border: 1px solid black;
  background-color: #eceff1;
  color: #000000;
  padding: 5px;
}

.table_component td {
  border: 1px solid black;
  background-color: #ffffff;
  color: #000000;
  padding: 1rem;
}

/* IMAGES */

img {
  width: 100%;
  max-width: 100%;
  height: auto;
  border: 1px solid black;
  margin-bottom: 2rem;
  margin-top: 1rem;
}
