:root {
  --system-ui: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --site-gutter: clamp(1rem, -76.4px + 19.25vw, 170px);
}

body {
  font-family: var(--system-ui);
  margin-left: 2rem;
  margin-right: 2rem;
  padding: 0;
  font-size: clamp(1.125rem, 1.05rem + 0.25vw, 1.25rem);
  background-color: snow;
}

.container {
  overflow: hidden;
}

#info {
  font-size: 2rem;

  background-color: springgreen;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-weight: 500;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-bottom: 1rem;
  display: inline-block;
}

span {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block-start: 0;
  margin-block-end: 0;
  display: inline-block;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: fit-content;
  background-color: #0085f21a;
  padding: 1rem;
}



.headings {
  display: flex;
  flex-direction: column;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

td,
th {
  border: 1px solid black; /* Set border style */
  padding: 8px; /* Add padding for better readability */
}

.formatted-texts {
  display: flex;
  flex-direction: column;
}

object {
  border: 2px solid blue;
}
