:root {
  --system-ui: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

body {
  font-size: 14px;
  font-family: var(--system-ui);
  background-color: whitesmoke;
}

.links-container {
  display: flex;
  flex-direction: column;
  font-size: 8rem;
  margin: 1rem;
  border: 0.5px solid black;
  border-radius: 10rem;
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}

.links-container a {
  text-decoration: none;
  color: whitesmoke;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  cursor: pointer;
  padding: 0.5rem;
  border: 0.5px solid black;
}

.links-container a:hover {
  color: whitesmoke;
  background-color: honeydew;
}

ul {
  margin-block-start: 0em;
  margin-block-end: 0em;
  padding-inline-start: 5rem;
}
ul li {
  list-style-type: circle;
}

@media only screen and (min-width: 320px) {
  .links-container {
    display: flex;
    flex-direction: column;
    font-size: 5rem;
    margin: 1rem;
    border: 0.5px solid black;
    border-radius: 10rem;
    border-top-right-radius: 0rem;
    border-bottom-right-radius: 0rem;
  }
}
@media only screen and (min-width: 768px) {
  .links-container {
    display: flex;
    flex-direction: column;
    font-size: 7rem;
    margin: 1rem;
    border: 0.5px solid black;
    border-radius: 10rem;
    border-top-right-radius: 0rem;
    border-bottom-right-radius: 0rem;
  }
}

@media only screen and (min-width: 1024px) {
  .links-container {
    display: flex;
    flex-direction: column;
    font-size: 8rem;
    margin: 1rem;
    border: 0.5px solid black;
    border-radius: 10rem;
    border-top-right-radius: 0rem;
    border-bottom-right-radius: 0rem;
  }
}
