:root {
  --system-ui: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: var(--system-ui);

  background-color: whitesmoke;
}

img {
  width: 128px;
  height: 183px;
}

.information-text {
  color:lemonchiffon;
  max-width: 320px;

  padding: 0.5rem;
  margin: 0.5rem;
  background-color: brown;
  /* border-bottom-right-radius: 1rem;
  border-top-right-radius: 1rem; */
  border-radius: 1rem;
  box-shadow: 0 8px 6px -6px black;
}

.information-text p {
  margin-block-start: 0em;
  margin-block-end: 0em;
}

#myBtn {
  color: white;
  border: none;
  background-color: brown;
  cursor: pointer;
}

#myBtn:hover {
  color: blue;
}

.header-container {
  height: 150px;
  display: flex;
  justify-content: right;
  align-items: center;
  color: whitesmoke;
}

.header-container p {
  margin-block-start: 0em;
  margin-block-end: 0em;
  /* margin-left: 1rem;
  margin-top: 1rem; */
  font-size: 17rem;
  min-height: min-content;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: lemonchiffon;
}

.header-book-title-container {
  display: flex;
  justify-content: right;
  color: brown;
  margin-bottom: 1rem;
}

#header-book-title {
  font-size: 1rem;
}

#more {
  display: none;
}

/* Contains all div holding books */
.books-container {
  display: flex;
  flex-direction: row;
  overflow-x: auto; /* Enable horizontal scrolling */
  white-space: nowrap;
  min-height: 100vh;
}

/* Is the title, number, and plus */
.book-info {
  box-shadow: -5px 0px 5px -6px black, 5px 0px 5px -6px black;
  border: 1px solid brown; /* Apply border to all sides */
  border-bottom: none;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  /* Add cursor pointer for better UX */
  /* max-width: 500px; */
  display: flex;
  justify-content: center;
}

.book-info:hover {
  background-color: lavender;
  color: white;
}

/* Reveals contained information */
.reveal-text {
  display: none;
}

/* Information with image and content */
.book-content-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  background-color: white;
}

.book-image {
  margin: 1rem;
}

.book-synopsis {
  padding: 1rem;
  /* max-width: 100%; */
  min-width: 400px;
  color: black;
  word-wrap: break-word; /* Ensure long words break */
  overflow-wrap: break-word; /* Alternative method */
  white-space: normal; /* Ensure normal whitespace handling */
}

.title-info {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  padding-top: 0.5rem;
  cursor: pointer;
}

.title-left {
  display: flex;
  flex-direction: row;

  gap: 1rem;
}

.title-left p {
  margin-block-start: 0em;
  margin-block-end: 0em;
  /* text-decoration: underline; */
}

.title-right {
  /* display: flex; */
  /* align-items: center; */
  margin-bottom: 1rem;
}

/* footer {
  background-color: snow;

  height: 30px;
} */
