body {
  margin: 0;
  padding: 0;
}

ul {
  margin-block-start: 0;
  margin-block-end: 0;
}

.piano-keys-list {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.piano-keys {
  width: 20rem;
  cursor: pointer;
  position: relative;
  height: 5rem;
  border: 1px solid #000;
}

.white-key {
  background-color: #fff;
}

.white-key:hover {
  background-color: gainsboro;
}

.black-key {
  width: 13rem;
  height: 2rem;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: #000;
  z-index: 2;
  margin: -20px 0px -20px 0px;
}

.black-key:hover {
  background-color: grey;
}
